*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --theme-color:#5074f3;
}
body{
    background-color: var(--theme-color);
}

.container{
    width: 90%;
    max-width: 25em;
    /* border: 1px solid black; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.card {
    width: 100%;
    padding: 4em 0;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0.5em;
}
.card .img-container{
    height: 11.25em;
    width: 11.25em;
    display: block;
    margin: -8.75em auto 0 auto;
    background-color: #fff;
    box-shadow: 0 0 0 0.3em #ffff, 0 0 0 0.9em  var(--theme-color);
    border-radius: 50%;
}
.img-container img {
    width: 100%;
    border-radius: 50%;
}
.container button{
    display: block;
    font-size: 1.2em;
    width: 90%;
    margin: 2em auto 0 auto;
    padding: 1.1em 0;
    border-radius: 0.3em;
    border: none;
    outline: none;
    font-weight: 600;
    color: #000341;
    cursor: pointer;
}
.card h3,
.card h4 {
    margin-top: 1.8em;
    font-weight: 600;
    color: #000341;
}
.card i {
    color: var(--theme-color);
}
.card h4 {
    margin-top: 0.4em;
}
